<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

### Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystems

### Exercise 3 - Create a markdown cell for an introduction

### In this notebook, Data Science and Ecosystems are summarized.

**Objectives:**
* Python
* R
* SQL
* Java
* Scala

### Exercise 4 - Create a markdown cell to list data science languages

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

### Exercise 5 - Create a markdown cell to list data science libraries

#### Some of the commonly libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

### Exercise 6 - Create a markdown cell with a table of Data Science tools

#### 
| Data Science Tools |
| -------------------|
| RStudios |
| Jupyter Lab |
| VS Code |

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python:

4+2

### Exercise 8 - Create a code cell to multiply and add numbers

#### This is a simple arithmetic expression to multiply then add integers

In [7]:
(3*4)+5

17

### Exercise 9 - Create a code cell to convert minutes to hours

#### This will convert 200 minutes to hours by diving by 60

In [10]:
(200)/60

3.3333333333333335

### Exercise 10 - Insert a markdown cell to list Objectives

### In this notebook, Data Science and Ecosystems are summarized.

**Objectives:**
* Python
* R
* SQL
* Java
* Scala

### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Gabriel Koku Kuma